/* ImgUpload.css */

/* Container */
.App {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  /* Header */
  .App-header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  /* Form container */
  .form-container {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Input fields */
  input[type="file"],
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Submit button */
  button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-right: 100px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Values section */
  .values {
    margin-top: 20px;
    text-align: left;
  }
  
  .values h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .values p {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  /* View Image button */
  .view-image-button {
    margin-left: 50px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .view-image-button:hover {
    background-color: #1e7e34;
  }
  